body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background:#111;
  color:white;
  display:flex;
}

#container{
  position:relative;
}

video, canvas{
  width:640px;
  height:480px;
  border-radius:10px;
}

#panel{
  padding:20px;
  width:380px;
  background:#1e1e1e;
  overflow:auto;
}

h2{
  margin-top:0;
  color:#00ffcc;
}

.item{
  margin-bottom:15px;
  padding:10px;
  background:#2b2b2b;
  border-radius:8px;
}