/* HERO */
.hero {
    margin-top: 57px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    background: linear-gradient(135deg, #1E88E5, #0D47A1);
    color: white;
}

.hero-text {
    max-width: 500px;
}

.hero-text h1 {
    font-size: 48px;
}

.hero-img img {
    width: 300px;
    margin-top: 50px;
}

/* FEATURES */
.features {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    background: #E3F2FD;
}

.feature {
    background: #1E88E5;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
}