.login-body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;

    background: linear-gradient(135deg, #1E88E5, #0D47A1);
}

/* CONTENEDOR */
.login-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    margin-top: 80px;
    position: relative;
    z-index: 1;
}

/* CARD */
.login-card {
    flex: 1;
    max-width: 380px;
    padding: 40px 30px;
    border-radius: 20px;

    background: #f9f9f9;

    box-shadow: 0 20px 60px rgba(0,0,0,0.25);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;

    animation: fadeInUp 0.8s ease;
}

/* LOGO */
#logo {
    width: 200px;
}

/* TITULO */
#subtitle {
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

/* FORM GROUP */
.form-group {
    width: 100%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

/* LABEL */
.form-group label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    align-self: flex-start;
}

/* INPUT */
.login-card input {
    width: 100%;
    max-width: 320px;
    padding: 14px;

    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;

    box-sizing: border-box;

    transition: all 0.3s ease;
}

/* SELECT IGUAL A INPUT */
.login-card select {
    width: 100%;
    max-width: 320px;
    padding: 14px;

    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;

    font-size: 14px;
    font-family: inherit;

    background-color: #fff;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    box-sizing: border-box;

    transition: all 0.3s ease;

    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
}

/* FOCUS INPUT Y SELECT */
.login-card input:focus,
.login-card select:focus {
    border-color: #FFD600;
    box-shadow: 0 0 0 3px rgba(255,214,0,0.4);
    transform: scale(1.02);
}

/* BOTON */
.btn-main {
    width: 100%;
    max-width: 320px;
    background: #FFD600;
    color: black;
    border: none;
    padding: 14px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

    transition: all 0.3s ease;
}

.btn-main:hover {
    transform: scale(1.06);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* TEXTO INFERIOR */
.small {
    margin-top: 10px;
    color: #333;
    font-size: 14px;
}

.small a {
    color: #FFD600;
    font-weight: bold;
    text-decoration: none;
}

/* ANIMACION */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}