/* BODY */
.login-body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #1E88E5, #0D47A1);
}

/* CONTENEDOR PRINCIPAL */
.login-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    margin-top: 80px;
}

/* 🔥 IMAGEN IZQUIERDA */
.login-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.login-image img {
    width: 350px;
    max-width: 100%;
}

/* FORMULARIO DERECHA */
.login-card {
    flex: 1;
    max-width: 350px;
    background: #e0e0e0;
    padding: 30px;
    border-radius: 12px;
}

/* INPUTS */
.login-card input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

/* BOTÓN */
.login-card .btn-main {
    width: 100%;
}

/* TEXTO */
.small {
    font-size: 14px;
}