/* RESET */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

/* 🔥 NAVBAR GLOBAL FIJO */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 97%;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 30px;
    background: #0D47A1;
    color: white;
}
.navbar nav{
    margin-right: 150px;
}

/* LOGO AJUSTADO */
.navbar .logo img {
    height: 80px;
    width: auto;
}

/* LINKS */
.navbar a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

/* HOVER */
.navbar a:hover {
    color: #FFD600;
}

/* ACTIVO */
.navbar a.active {
    color: #FFD600;
    border-bottom: 2px solid #FFD600;
    padding-bottom: 3px;
}

/* 🔥 BOTONES BASE */
.btn-main {
    background: #FFD600;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    color: black;
    transition: 0.3s;
}

.btn-main:hover {
    transform: scale(1.05);
}

a {
    text-decoration: none;
}