/* RESET */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

/* 🔥 NAVBAR GLOBAL FIJO */
.navbar {
    position: fixed; /* 👈 clave */
    top: 0;
    left: 0;
    width: 98%;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 30px;
    background: #0D47A1;
    color: white;
}

.navbar .logo {
    font-size: 20px;
    font-weight: bold;
}

.navbar a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.btn-nav {
    background: #FFD600;
    color: black !important;
    padding: 8px 15px;
    border-radius: 6px;
}

/* 🔥 BOTONES BASE */
.btn-main {
    background: #FFD600;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    color: black;
    transition: 0.3s;
}

.btn-main:hover {
    transform: scale(1.05);
}